<form action="./usuario/insertdados" method="POST"class="form" id="cadastroForm">
  <div class="form-control">
    <input type="text" name="nome" placeholder="Nome de usuário" required="required"/>
      <input type="email" name="email" placeholder="E-mail" required="required"/>
      <input type="password" name="senha" placeholder="Senha" required="required"/>
      <div class="divBtn">
        <input class="btn" id="btn" type="submit" name="cadastro" value="CADASTRE-SE"/>
      </div>
  </div>
    
                    
</form>